<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.three.base.userjdbc.mapper.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.three.base.userjdbc.modal.SysDict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dict_type" property="dictType" jdbcType="VARCHAR" />
    <result column="dict_code" property="dictCode" jdbcType="VARCHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="dict_desc" property="dictDesc" jdbcType="VARCHAR" />
    <result column="fh_dict_code" property="fhDictCode" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_type, dict_code, dict_name, dict_value, dict_desc, fh_dict_code, memo
  </sql>
  <select id="selectByUniqNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    where dict_type = #{dictType,jdbcType=VARCHAR}
    and dict_code = #{dictCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByDictType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    where dict_type = #{dictType,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
  </select>

  <select id="findList" parameterType="com.three.base.usercommon.vo.system.SysDictCondVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    where 1=1
    <if test="dictType!=null and dictType!=''">
     and  dict_type = #{dictType,jdbcType=VARCHAR}
    </if>
    <if test="dictCode!=null and dictCode!=''">
      and dict_code = #{dictCode,jdbcType=VARCHAR}
    </if>
    <if test="fhDictCode!=null and fhDictCode!=''">
      and fh_dict_code = #{fhDictCode,jdbcType=VARCHAR}
    </if>
    <if test="dictName!=null and dictName!=''">
      and  dict_name LIKE #{dictName,jdbcType=VARCHAR}||'%'
    </if>
    <if test="dictValue!=null and dictValue!=''">
      and  dict_value LIKE #{dictValue,jdbcType=VARCHAR}||'%'
    </if>
  </select>
</mapper>