<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.three.base.userjdbc.mapper.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.three.base.userjdbc.modal.SysUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="create_no" property="createNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modi_no" property="modiNo" jdbcType="VARCHAR" />
    <result column="modi_time" property="modiTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_no, role_code,role_name, create_no, create_time, modi_no, modi_time, version
  </sql>
  <select id="selectByUserNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
   <include refid="Base_Column_List" />
    from sys_user_role
    where user_no = #{userNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserNoAndRoleCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user_role
    where user_no = #{userNo,jdbcType=VARCHAR}
    and role_code=#{roleCode,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByUserNo" parameterType="java.lang.String">
    delete  from  sys_user_role  WHERE user_no = #{userNo,jdbcType=VARCHAR}
  </delete>

  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
    insert into SYS_USER_ROLE (user_no, role_code,
    role_name, create_no, create_time
    )
   VALUES
    <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
      #{item.userNo,jdbcType=VARCHAR}, #{item.roleCode,jdbcType=VARCHAR},
      #{item.roleName,jdbcType=VARCHAR},
      #{item.createNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}
    </foreach>
  </insert>
</mapper>